ol{
  margin-left: -40px;
  margin-top: -20px;
  list-style-position: inside;
}

/* Write your CSS below, don't change the rules above. */
P{
  color: red;
}
.font-size{
  font-size: 20px;
}
#id_green{
  color: green;
}
li[draggable=true]{
  color: blue;
}
*{
  text-align: center;
}


